:root {
    --main-bg-color: #0f0f0f;
    --alt-bg-color: #202020;
    --accent-color: #E4680b;
    --font-color: #fff;
    --font-color-alt: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--alt-bg-color);
    overflow: hidden;
    border-bottom: 10px solid var(--accent-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    top: 0;
}

nav div {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: var(--alt-bg-color);
    display:flex;
    justify-content: center;
}

nav li {
    float: left;
    border: 3px solid var(--accent-color);
    width: 10%;
    margin: 8px;
    padding: auto;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;

}


nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 0 0;
    padding: 0 0;
}

nav li a:hover {
    background-color: var(--accent-color);
}

nav li a:first-letter {
    text-transform: uppercase;
    color: var(--accent-color);
    font-size: 1.5rem;
}

.content {
    padding:  0 0 3rem 0;
}

footer {
    background-color: var(--alt-bg-color);
    border-top: 10px solid var(--accent-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}


footer p {
    color: var(--font-color-alt);
    font-size: 18px;
}

footer p a {
    color: var(--font-color-alt);
    text-decoration: none;
}


/* hamburger menu for mobile */
@media only screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav {
        background-color: var(--alt-bg-color);
        overflow: hidden;
        border-bottom: 10px solid var(--accent-color);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: sticky;
        top: 0;
    }

    nav div {
        width: 100%;
    }

    nav li {
        float: left;
        border: 3px solid var(--accent-color);
        width: 10%;
        margin: 8px;
        padding: auto;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    nav li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        margin: 0 0;
        padding: 0 0;
    }

    nav li a:hover {
        background-color: var(--accent-color);
    }

    nav li a:first-letter {
        text-transform: uppercase;
        color: var(--accent-color);
        font-size: 1.5rem;
    }

    .content {
        padding:  0 0 3rem 0;
    }

    footer {
        background-color: var(--alt-bg-color);
        border-top: 10px solid var(--accent-color);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    footer p {
        color: var(--font-color-alt);
        font-size: 18px;
    }

    footer p a {
        color: var(--font-color-alt);
        text-decoration: none;
    }
}