{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock head %}
{% block content %}
    <!-- landing -->
    <div class="landing">
        <div class="container">
            <h1>Do you need a developer<span class="qm">?</span></h1>
            <h3>My name is <span class="nm">{{ name }}</span> and I might be the one you are looking for.</h3>
            <br>
        </div>
    </div>

    <!-- github project carousel -->
    <h4 class="section-header">My Active Development Projects</h4>
    <div class="carousel-container">
        {% for repo in repos %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ repo.name }}</h5>
                <img src="{{ repo.owner.avatar_url }}" alt="avatar" class="avatar">
                <p class="card-desc">{{ repo.description }}</p>
                <a href="{{ repo.html_url }}" class="btn" target="_blank" rel="noopener noreferrer">Go to repo</a>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Language: {{ repo.language }}</small></p>
                    <p class="card-text"><small class="text-muted">Stars: {{ repo.stargazers_count }}</small></p>
                    <p class="card-text"><small class="text-muted">Watchers: {{ repo.watchers_count }}</small></p>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <!-- graphic design carousel -->
    <h4 class="section-header">My Graphics Design</h4>
    <div class="carousel-container">
        {% for image in images %}
        <div class="image-card">
            <div class="image-card-body">
                <img src="{{ image }}" alt="artwork" class="artwork">
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content%}