<nav>
    <div>
        <!-- Links -->
        <ul class="navbar">
            <li>
                <a href="/"><span class="nm">H</span>ome</a>
            </li>
            <li>
                <a href="/blog"><span class="nm">B</span>log</a>
            </li>
            <li>
                <a href="/about"><span class="nm">A</span>bout</a>
            </li>
            <li>
                <a href="/contact"><span class="nm">C</span>ontact</a>
            </li>
            <li>
                <a href="https://github.com/AlyceOsbourne/" target="_blank" rel="noopener noreferrer"><span
                        class="nm">G</span>ithub</a>
            </li>
        </ul>
    </div>
</nav>